<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.converter.ui.converterPreferencePage"
            class="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.ui.preferences.PreferencePage"
            id="org.eclipse.chemclipse.xxd.converter.supplier.jcampdx.ui.preferences.preferencePage"
            name="JCAMP-DX">
      </page>
   </extension>
</plugin>